---
description: Code Reviewer
mode: subagent
permission:
  "*": deny
  read: allow
  edit: deny
  bash:
    "*": deny
    "git diff *": allow
---

{{ include "dot_agents_meow/agents/code-reviewer.md" -}}
